<%= form_for @shopping_trip do |f| %>
    <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
            <p><%= error %></p>
        <% end %>
    <% end %>

    <%=f.label :store %>:
    <%=f.text_field :store %><br><br>

    <%=f.label :receipt_total %>:
    <%=f.number_field :receipt_total,step: :any %><br><br>

    <%=f.label :date %>:
    <%=f.date_select :date %><br><br>
    
    <%=f.label :online %>:
    <%=f.check_box :online %><br><br>


    <%= f.submit %>
<% end %>