<h2 id="welcome">Sign Up!</h2>
<div id="body4">
<%= form_for @user do |f| %>
    <% if flash[:user_errors] %>
        <% flash[:user_errors].each do |error| %>
            <p><%= error %></p>
        <% end %>
    <% end %>
    
    <strong><%= f.label :name %></strong>:
    <%= f.text_field :name %><br><br>

    <strong><%= f.label :password %></strong>:
    <%= f.password_field :password %><br><br>
    <%= f.submit %>
<% end %>

</div>


