<h2 id="welcome"><%= @current_user.name %>, Welcome!</h2>


<h4>My Books</h4>
    <% if @current_user.books.count > 0 %>
        <% @current_user.books.each do |book| %>
            <li><%= link_to book.title, book_path(book) %>
        <% end %>
    <% else %>
        <em><%= "No books on your shelves." %></em>
    <% end %>

<br><br>
<%= button_to "Book Library", books_path, method: :get %>
<%= button_to "Add New Book", new_book_path, method: :get %>


<hr>


<h4>My Music</h4>
    <% if @current_user.musics.count > 0 %>
        <% @current_user.musics.each do |music| %>
            <li><%= link_to music.title, music_path(music) %>
        <% end %>
    <% else %>
        <em><%= "No music saved." %></em>
    <% end %>

<br><br><%= button_to "Music Library", musics_path, method: :get %>
<%= button_to "Add New Music", new_music_path, method: :get %>

<hr>

<h4 id="body">Recent Shopping Trips</h4>

<% if @current_user.shopping_trips.count > 0 %>
    <% @current_user.most_recent_transactions.each do |trip| %>
        <li><%= link_to trip.date.strftime("%D"), shopping_trip_path(trip) %></li>
    <% end %><br>
    <strong>Total Spent:</strong> <%= @current_user.total %><br><br>
    <%= button_to "All Spending", user_spending_path, method: :get %>
<% else %>
        <em><%= "No spending data just yet." %></em>
<% end %>
    <%= button_to "Add New Transaction", new_shopping_trip_path, method: :get %>
<hr>

<h4 id="body">Sleep Data for the Past Week</h4>
<% if @current_user.sleeping_patterns.count > 0 %>
    <% @current_user.last_seven_sleep_entries.each do |entry| %>
        <li><%= link_to entry.date.strftime("%D"), sleeping_pattern_path(entry.id) %></li>
    <% end %><br>
    <strong>Average Sleep Rating:</strong> <%= @current_user.average_sleep_rating %> out of 10<br><br>
    <%= button_to "All Sleep Data", user_sleepdata_path, method: :get %>
<% else %>
    <em><%= "No sleep data just yet." %></em>
<% end %>
    <%= button_to "Add New Sleep Entry", new_sleeping_pattern_path, method: :get %>
<hr>







