<h2 id="welcome"><%= @current_user.name %>'s Shopping Data</h2>

<h4 id="body">All Transactions</h4>
<% @current_user.sorted_transactions.each do |trip| %>
    <li><%= link_to trip.date.strftime("%D"), shopping_trip_path(trip) %></li>
<% end %><br>

<p>Most Expensive Trip: <%= link_to "#{@current_user.most_expensive.store} on #{@current_user.most_expensive.date.strftime("%D")}", shopping_trip_path(@current_user.most_expensive.id) %></p><br><br>

<h4 id="body">Monthly Spending</h4>
<% @current_user.monthly_trips.each do |month, trips| %>
    <strong><%= Date::MONTHNAMES[month] %>:</strong> $<%= trips.map {|trip| trip.receipt_total}.sum %><br><hr>
<% end %>





