<h2><em><%= @book.title %></em></h2>

By: <%= @book.author %><br>
Genre: <%= @book.genre %><br>
Release Date: <%= @book.release_date %><br>
<h4><br>On the Shelves of:</h4>
<% @book.users.uniq.each do |user| %>
    <li><%= link_to user.name, user_path(user) %></li>
<% end %><br>

<h4>Audio Available?</h4>
    <% if @book.audio_available == nil%>
        <%= "Unfortunately, this book's not available in audio format. Please check back later." %>
    <% else %>
        <%= "The following file shares a title with this book:" %><br><br>
        <% found_audio = @book.audio_available %>
        <li><%= link_to found_audio.title, music_path(found_audio.id) %></li>
    <% end %>
        
   

<h4>Similar Titles:</h4>
    <% if @book.suggestions_by_genre.count == 0 %>
        <%= "No similar titles at the moment." %>
    <% else %>
        <% @book.suggestions_by_genre.each do |book| %>
            <li><%= link_to book.title, book_path(book) %></li>
        <% end %>
    <% end %>
<br><br>



<% if @book.included(@current_user) && @book.users.count == 1%>
    <%= button_to "Edit Book Information", edit_book_path, method: :get %>
    <%= button_to "Delete Book", @book,  method: :delete, data: {confirm: "Book will be removed from all records. Proceed?"}%>

<% elsif @book.included(@current_user) %>
    <%= button_to "Remove from My Shelf", action: :remove_from_my_shelf %>

<% else %>
    <%= button_to "Add This Book to My Shelves", action: :add_a_book %>
<% end %>

<%= button_to "All Books", books_path, method: :get %>

<%= button_to "Back to My Profile", user_profile_path, method: :get %>


