#Sleeping Pattern Show Page
<h1 id="welcome"> Your Sleeping Patterns </h1>

<h3 id="body">Location: <%= @sleeping_pattern.location %></h3>
<h3 id="body">Average Sleep: <%= @sleeping_pattern.average_sleep %></p>
<h3 id="body">Position: <%= @sleeping_pattern.position %></h3> 
<h3 id="body">Grade: <%= @sleeping_pattern.grade %></h3> 
<h3 id="body">Date: <%= @sleeping_pattern.date.strftime("%D") %></h3> 
<br/>


<%= button_to "New Sleeping Pattern", {:action => "new"}, :method => "get" %>
<%= button_to "EDIT", {:action => "edit"}, :method => "get" %>
<%= button_to "Remove Your Sleeping Pattern", sleeping_pattern_path(@sleeping_pattern), :method => :delete, :data => {confirm: "Are you sure?"} %>